{% extends 'base.html.twig' %}

{% block body %}
{{ render(controller('App\\Controller\\Page\\Embedded\\NavbarController::get')) }}

<section class="s-posts">
    <h2 class="posts_title">{{ tag_title }}</h2>
    <div class="default-indent"></div>
    <div class="default-indent"></div>
    <div class="container">
        <div class="row">
            {% for article in articles %}
                {% include 'inner/post.html.twig' %}
            {% endfor %}
            </div>
        <div class="row">
            <div class="col-md-3">
                {{ knp_pagination_render(articles) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
